.smarket-input{
    border: 1px solid #a6e1ec;
    padding: 3px 3px 3px 10px;
    border-radius: 3px;
    width: 230px;
    height: 30px;
}

.smarket-button{
    border-radius: 0;
    border: 1px #66afe9;
    color:white;
    background-color: #a6e1ec;
}

.register-container{
    padding-top: 30px;
    border: 1px solid #e5e9ef;
    border-radius: 3px;
}


.smarket-input{
    border-radius: 3px;
    width: 230px;
    height: 30px;
}

.smarket-button{
    width: 230px;
    height: 30px;
    border-radius: 3px;
}

.form-label{
    width: 50%;
    padding-bottom: 20px;
    text-align: right;
}

.form-label label{
    font-size: 14px;
    font-weight: inherit;
    width: 60px;
}

.form-label input{
    margin-left: 10px;
}

.form-label img{
    border-radius: 3px;
}

.error-msg{
    color: red;
    font-weight: lighter;
}

.checkbox {
    position: relative;
    height: 30px;
}

.checkbox input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    opacity: 0;
}

.checkbox label {
    position: absolute;
    left: 30px;
    top: 0;
    height: 20px;
    line-height: 20px;
}

.checkbox label:before {
    content: '';
    position: absolute;
    left: -30px;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.checkbox label:after {
    content: '';
    position: absolute;
    left: -22px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: 0;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.checkbox input[type='checkbox']:checked + label:before {
    background: #4cd764;
    border-color: #4cd764;
}

.checkbox input[type='checkbox']:checked + label:after {
    background: #4cd764;
}